5.json
[{"id":"be1578a.b4ebf88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b5643429.fa4de8","type":"http in","z":"be1578a.b4ebf88","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["38c49bb8.577a04","f167e0ae.7f5e5"]]},{"id":"38c49bb8.577a04","type":"function","z":"be1578a.b4ebf88","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["7402c913.6a21f8"]]},{"id":"7402c913.6a21f8","type":"rpi-gpio out","z":"be1578a.b4ebf88","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":480,"y":280,"wires":[]},{"id":"f167e0ae.7f5e5","type":"function","z":"be1578a.b4ebf88","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["77919409.681c9c","afd03e01.af955"]]},{"id":"afd03e01.af955","type":"debug","z":"be1578a.b4ebf88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":380,"wires":[]},{"id":"77919409.681c9c","type":"http response","z":"be1578a.b4ebf88","name":"","statusCode":"","headers":{},"x":930,"y":140,"wires":[]},{"id":"5e7e1646.39baa8","type":"http in","z":"be1578a.b4ebf88","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["5451b53e.f89a1c","d286653e.9c9ae8"]]},{"id":"5451b53e.f89a1c","type":"function","z":"be1578a.b4ebf88","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["7402c913.6a21f8"]]},{"id":"d286653e.9c9ae8","type":"function","z":"be1578a.b4ebf88","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["77919409.681c9c","afd03e01.af955"]]}]